/* This is a comment */

/* CSS Syntax:
selector {
  property: value;
  property: value;
}
*/

/* Type selector */

p { /* select all <p> 8 */
  font-size: 16px; /* 16px, ?pt, 100%, 1em (default is px is 16 - 16/how many you want to use) */
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman";
}
